.whole-list {
  width: 100%;
  height: 100%;

  .title {
    height: 2vh;
    text-align: center;
  }

  .addStream {
    height: 8vh;
    border: double;
    text-align: center;
  }

  .video {
    width: 14vw;
    margin-left: 1vw;
    height: 90vh;
    position: relative;
    overflow-x: auto;

    .video-panel-wrapper-list {
      margin-top: 1%;
      background: url(../../assets/xiaohudao/icons/fireman.svg) no-repeat center #303236;
      background-size: 20%;
      border-radius: 5px;
      position: relative;
      width: 12vw;
      height: 7vw;

      .button-list {
        top: 0;
        color: white;
        left: 0.4rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        position: absolute;
        z-index: 99;
      }

      .name-list {
        background-color: black;
        bottom: 0;
        color: white;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        position: absolute;
        z-index: 99;
      }

      .close-list {
        background-color: black;
        top: 0;
        color: white;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        position: absolute;
        z-index: 99;
      }
    }
  }
}