.whole-user-list {
  width: 100%;
  height: 100%;
  .title {
    text-align: center;
    height: 30px;
  }
  overflow: auto;
  .user {
    width: 14vw;
    margin-left: 1vw;
    display: flex;
    flex-wrap: wrap;
    .user-panel-wrapper-list {
      margin-bottom: 1vw;
      margin-right: 1vw;
      background: url(../../assets/xiaohudao/icons/fireman.svg) no-repeat center #303236;
      background-size: 20%;
      border-radius: 2px;
      width: 6vw;
      height: 8vw;
      position: relative;
      .name-list {
        background-color: black;
        bottom: 0;
        color: white;
        left: 0.4rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        position: absolute;
        z-index: 99;

        &.mute:after {
          background: url(../../assets/xiaohudao/icons/microphone-off-filled.svg) center no-repeat black;
          background-size: 72%;
          content: "";
          height: 100%;
          padding-right: 0.5rem;
          position: absolute;
          width: 1.3rem;
        }
      }
    }
  }
}
